body {
    background-color: #e6e4e4;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: none;
    padding: 10px;
    list-style: none;
    margin-top: 0;
    padding-top: 0;
    margin-bottom:0;
}
nav > ul > li {
    border: 1px solid #a24646;
    border-radius: 5px;
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 0 5px 0;
    background-color: antiquewhite;
}

nav > ul > li > a {
    color: rgb(183, 18, 18);
    text-decoration: none;
    padding: 10px 20px;
}


nav > ul > li > a:visited {
    color: rgb(183, 18, 18); 
    text-decoration: none;
} 

nav > ul > li > a:hover {
    color: rgb(32, 206, 169);
    text-decoration: none;
}


nav > ul > li > a:active {
    color: rgb(32, 206, 169);
    text-decoration: none;
}

#home, #about, #contact, #skills, #projects {
    transition: transform 0.8s;
}
#home:hover, #about:hover, #contact:hover, #skills:hover, #projects:hover {
    transform: rotateY(180deg);
}

.content1 {
    transition: transform 1s;
}
.content1:hover {
    transform: rotateX(360deg);
}

.container {
    height: 90vh;
    border-radius: 10px;
    border: 1px solid #a24646;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: darksalmon;
    
}
.container > .content1 {
    height: 30vh;
    border: 1px solid #a24646;
    width: 50%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}
.content {
    height: 30vh;
    border: 1px solid #a24646;
    width: 50%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}
.content > p {
    font-size: 24px;
    margin-bottom: 10px;
}

.content3 {
    height: 30vh;
    border: 1px solid #a24646;
    width: 50%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    overflow-y: auto;
}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

form input,
form textarea,
form button {
    width: 60%;  
    height: 20px;
    padding: 0;
    margin: 0;
}
button {
    margin-top: 10px;
    width: 30%;
    height: 30px;
    background-color: #a24646;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Lexend, sans-serif;
    transition: 0.2s;
}
button:hover{
    transform: scale(1.5);
}
.subfirst, .subsecond, .blurb {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
}

.toggle-checkbox {
    display: none; 
}
.plus-sign {
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
    margin-bottom: 10px;
}

.hidden-list {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.toggle-checkbox:checked + .plus-sign + .hidden-list {
    display: block;
}

.skill-content1 {
    height: 30vh;
    border: 1px solid #a24646;
    width: 50%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;

}

.skill-content2 {
    height: 30vh;
    border: 1px solid #a24646;
    width: 50%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: box-shadow 0.5s;
}
.skill-content2:hover, .skill-content1:hover, .skill-content3:hover {
    box-shadow: 10px 5px 5px #a24646;
}

.skill-content3 {
    height: 30vh;
    border: 1px solid #a24646;
    width: 50%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.skill-container {
    display:flex;
    flex-direction:column;
    align-items: center;
    height: 90vh;
    border-radius: 10px;
    border: 1px solid #a24646;
    padding: 10px;
    background-color: darksalmon;
    
}

.skill-content1, .skill-content2, .skill-content3 {
    max-height: 200px; /* Set a maximum height for the containers */
    overflow-y: auto; /* Enable vertical scrollbar when content overflows */
    padding: 10px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}

img {
    width: 500px;
    height: 600px;
    margin-bottom: 10px;
}

.container2 {
    height: 90vh;
    border-radius: 10px;
    border: 1px solid #a24646;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    overflow-y: auto;
    background-color: darksalmon;
}
h2 {
    margin:0;
}

.plus-sign:hover {
    transform: scale(1.3);
}

@media (max-width: 768px) {
    nav > ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav > ul > li {
        width: 100%; 
        margin: 5px 0; 
    }
    .content {
        overflow-y: auto;
    }
}

#prof {
    width: 150px;
    height: 200px;
    border-radius: 30px;
    margin-right: 10px;
}